body {
	overflow: hidden;
}
canvas {
	position: absolute;
	width: 2000px;
	height: 2000px;
	/* background-color: transparent; */
	border: 1px solid #000000; /* going to remove this later */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}
p {
	color: blue;
	position: absolute;
	display: inline;
	text-align: center;
	width: 10%;
	height: 5%;
	margin: auto;
	padding: 0;
	top: -100px;
	bottom: 0;
	left: 0;
	right: 0;
}
input {
	position: absolute;
	display: inline;
	width: 10%;
	height: 5%;
	margin: auto;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}