body {
	overflow: hidden;
}
#playSpace {
	position: fixed;
	border: 1px solid #000000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.miniMapContainer {
	position: fixed;
	background-color: ghostwhite;
	bottom: 1%;
	/* border-radius: 15px; */
	border-style: outset;
	border-color:blue;
	border-width: 3px;
	display: none;

}

.miniMap {
	display: fixed;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.assetContainer {
	position: fixed;
	top: -750px;
}