body {
	overflow: hidden;
}

#elementContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: skyblue;
	border-radius: 25px;
}

p {
	position: relative;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 32px;
}
#nameBox {
	position: relative;
	display: block;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 32px;
	border-radius: 25px;
	padding: 3px;
}
#startGameButton {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 32px;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
